/*! Modified source from codox v0.10.8 | EPL-1.0 license | https://github.com/weavejester/codox/blob/0.10.8/LICENSE.txt */

@font-face {
    font-family: "DejaVu Serif";
    src: local("DejaVu Serif"),
         url("../fonts/dejavu-serif.woff2") format("woff2"),
         url("../fonts/dejavu-serif.woff") format("woff"),
         url("../fonts/dejavu-serif.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    src: local("DejaVu Sans"),
         url("../fonts/dejavu-sans.woff2") format("woff2"),
         url("../fonts/dejavu-sans.woff") format("woff"),
         url("../fonts/dejavu-sans.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans Mono";
    src: local("DejaVu Sans Mono"),
         url("../fonts/dejavu-sans-mono.woff2") format("woff2"),
         url("../fonts/dejavu-sans-mono.woff") format("woff"),
         url("../fonts/dejavu-sans-mono.ttf") format("truetype");
}

body {
    font-family:'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size:14px;
    background-color:#ffffff;
    color:#353833;
}

a:link, a:visited {
    text-decoration:none;
    color:#4A6782;
}

a:hover, a:focus {
    text-decoration:none;
    color:#bb7a2a;
}

a:active {
    text-decoration:none;
    color:#4A6782;
}

a[href*="://"]::after {
    content:"";
    display:inline-block;
    background-image:url('data:image/svg+xml; utf8, \
      <svg xmlns="http://www.w3.org/2000/svg" width="768" height="768">\
        <path d="M584 664H104V184h216V80H0v688h688V448H584zM384 0l132 \
        132-240 240 120 120 240-240 132 132V0z" fill="%234a6782"/>\
      </svg>');
    background-size:100% 100%;
    width:7px;
    height:7px;
    margin-left:2px;
    margin-bottom:4px;
}

a[href*="://"]:hover::after,
a[href*="://"]:focus::after {
    background-image:url('data:image/svg+xml; utf8, \
      <svg xmlns="http://www.w3.org/2000/svg" width="768" height="768">\
        <path d="M584 664H104V184h216V80H0v688h688V448H584zM384 0l132 \
        132-240 240 120 120 240-240 132 132V0z" fill="%23bb7a2a"/>\
      </svg>');
}

pre, code {
    font-family:'DejaVu Sans Mono', monospace;
    font-size: 9pt;
    margin: 15px 0;
}

h1 {
    font-weight: normal;
    font-size: 29px;
    margin: 10px 0 2px 0;
    padding: 0;
    color:#2c4557;
}

h2 {
    font-weight: normal;
    font-size: 25px;
}

h5.license {
    margin: 9px 0 22px 0;
    color: #474747;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
}

.document h1, .namespace-index h1 {
    font-size: 32px;
    margin-top: 12px;
}

#header, #content, .sidebar {
    position: fixed;
}

#header {
    top: 0;
    left: 0;
    right: 0;
    height: 22px;
    padding: 5px 7px;
    background-color:#4D7A97;
    color:#FFFFFF;
}

#content {
    top: 32px;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color:#ffffff;
    color:#353833;
    padding: 0 18px;
}

.sidebar {
    position: fixed;
    top: 32px;
    bottom: 0;
    overflow: auto;
}

.sidebar.primary {
    background: #dee3e9;
    border-right: solid 1px #EEE;
    left: 0;
    width: 250px;
}

.sidebar.secondary {
    background: #f8f8f8;
    border-right: solid 1px #ededed;
    left: 251px;
    width: 200px;
}

#content.namespace-index, #content.document {
    left: 251px;
}

#content.namespace-docs {
    left: 452px;
}

#content.document {
    padding-bottom: 10%;
}

#header {
    z-index: 100;
}

#header h1 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#header h1 .project-version {
    font-weight: normal;
}

.project-version {
    padding-left: 0.15em;
}

#header a, .sidebar a {
    display: block;
    text-decoration: none;
}

#header a:not(:hover, :focus) {
    color: #fff;
}

#header a:not(:hover, :focus)::after {
    background-image:url('data:image/svg+xml; utf8, \
      <svg xmlns="http://www.w3.org/2000/svg" width="768" height="768">\
        <path d="M584 664H104V184h216V80H0v688h688V448H584zM384 0l132 \
        132-240 240 120 120 240-240 132 132V0z" fill="white"/>\
      </svg>');
}


#header h2 {
    float: right;
    font-size: 9pt;
    font-weight: normal;
    margin: 4px 3px;
    padding: 0;
    color: #ccc;
}

#header h2 a {
    display: inline;
}

.sidebar h3 {
    margin: 0;
    padding: 10px 13px 0 13px;
    font-size: 19px;
}

.sidebar.secondary h3 {
    font-style: italic;
}

.sidebar ul {
    padding: 7px 0 6px 0;
    margin: 0;
}

.sidebar ul.index-link {
    padding-bottom: 4px;
}

.sidebar li {
    display: block;
    vertical-align: middle;
}

.sidebar li a, .sidebar li .no-link {
    border-left: 3px solid transparent;
    padding: 0 10px;
    white-space: nowrap;
}

.sidebar li .no-link {
    display: block;
    font-style: italic;
}

.sidebar li .inner {
    display: inline-block;
    padding-top: 7px;
    height: 24px;
}

.sidebar li a, .sidebar li .tree {
    height: 31px;
}

.depth-1 .inner { padding-left: 2px; }
.depth-2 .inner { padding-left: 6px; }
.depth-3 .inner { padding-left: 20px; }
.depth-4 .inner { padding-left: 34px; }
.depth-5 .inner { padding-left: 48px; }
.depth-6 .inner { padding-left: 62px; }

.sidebar li .tree {
    display: block;
    float: left;
    position: relative;
    top: -10px;
    margin: 0 4px 0 0;
    padding: 0;
}

.sidebar li.depth-1 .tree {
    display: none;
}

.sidebar li .tree .top, .sidebar li .tree .bottom {
    display: block;
    margin: 0;
    padding: 0;
    width: 7px;
}

.sidebar.primary li .tree .top {
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: 19px;
}

.sidebar.secondary li .tree .top {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 19px;
}

.sidebar li .tree .bottom {
    height: 22px;
}

.sidebar.primary li.branch .tree .bottom {
    border-left: 1px solid #aaa;
}

.sidebar.secondary li.branch .tree .bottom {
    border-left: 1px solid #ccc;
}

.sidebar.primary li.current a {
    border-left: 3px solid #F8981D;
    color: #bb7a2a;

}

.sidebar.secondary li.current a {
    border-left: 3px solid #F8981D;
    color: #bb7a2a;
}

.namespace-index h2 {
    margin: 30px 0 0 0;
}

.namespace-index h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.namespace-index .topics {
    padding-left: 30px;
    margin: 11px 0 0 0;
}

.namespace-index .topics li {
    padding: 5px 0;
}

.namespace-docs h3 {
    font-size: 18px;
    font-weight: bold;
}

.public h3 {
    margin: 0;
    float: left;
}

.usage {
    clear: both;
}

.public {
    margin: 0;
    border-top: 1px solid #eee;
    padding-top: 14px;
    padding-bottom: 6px;
}

.public:last-child {
    margin-bottom: 20%;
}

.members .public:last-child {
    margin-bottom: 0;
}

.members {
    margin: 15px 0;
}

.members h4 {
    color: #474747;
    font-weight: normal;
    font-variant: small-caps;
    margin: 0 0 5px 0;
}

.members .inner {
    padding-top: 5px;
    padding-left: 12px;
    margin-top: 2px;
    margin-left: 7px;
    border-left: 1px solid #eee;
}

#content .members .inner h3 {
    font-size: 12pt;
}

.members .public {
    border-top: none;
    margin-top: 0;
    padding-top: 6px;
    padding-bottom: 0;
}

.members .public:first-child {
    padding-top: 0;
}

h4.type,
h4.dynamic,
h4.added,
h4.deprecated {
    float: left;
    margin: 3px 10px 15px 0;
    font-size: 15px;
    font-weight: bold;
    font-variant: small-caps;
}

.public h4.type,
.public h4.dynamic,
.public h4.added,
.public h4.deprecated {
    font-size: 13px;
    font-weight: bold;
    margin: 3px 0 0 10px;
    padding: 0 6px;
}

.members h4.type,
.members h4.added,
.members h4.deprecated {
    margin-top: 1px;
}

h4.type {
    color: #253441;
    background-color: #F8981D;
}

h4.dynamic {
    color: #fff;
    background-color: #9933aa;
}

h4.added {
    color: #fff;
    background-color: #508820;
}

h4.deprecated {
    color: #fff;
    background-color: #880000;
}

.namespace {
    margin-bottom: 30px;
}

.namespace:last-child {
    margin-bottom: 10%;
}

.index {
    padding: 0;
    font-size: 80%;
    margin: 15px 0;
    line-height: 16px;
}

.index * {
    display: inline;
}

.index p {
    padding-right: 3px;
}

.index li {
    padding-right: 5px;
}

.index ul {
    padding-left: 0;
}

.type-sig {
    clear: both;
    color: #088;
}

.type-sig pre {
    padding-top: 10px;
    margin: 0;
}

.usage code {
    display: block;
    color: #4A6782;
    font-weight: bold;
    margin: 2px 0;
}

.usage code:first-child {
    padding-top: 10px;
}

p {
    margin: 15px 0;
}

.public p:first-child, .public pre.plaintext {
    margin-top: 12px;
}

.doc {
    margin: 0 0 26px 0;
    clear: both;
}

.public .doc {
    margin: 0;
}

.namespace-index .doc {
    margin-bottom: 20px;
}

.namespace-index .namespace .doc {
    margin-bottom: 10px;
}

.markdown p, .markdown li, .markdown dt, .markdown dd, .markdown td {
    line-height: 22px;
}

.markdown li {
    padding: 2px 0;
}

.markdown h2 {
    font-weight: normal;
    font-size: 25px;
    margin: 30px 0 10px 0;
}

.markdown h3 {
    font-weight: normal;
    font-size: 20px;
    margin: 30px 0 0 0;
}

.markdown h4 {
    font-size: 15px;
    margin: 22px 0 -4px 0;
}

.doc, .public, .namespace .index {
    max-width: 680px;
    overflow-x: visible;
}

.markdown pre > code {
    display: block;
    padding: 10px;
}

.markdown pre > code, .src-link a {
    border: 1px solid #EEE;
}

.markdown code:not(.hljs), .src-link a {
    background: #fff;
}

pre.deps {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    padding: 10px;
    background-color: #f6f6f6;
}

.markdown hr {
    border-style: solid;
    border-top: none;
    color: #ccc;
}

.doc ul, .doc ol {
    padding-left: 30px;
}

.doc table {
    border-collapse: collapse;
    margin: 0 10px;
}

.doc table td, .doc table th {
    border: 1px solid #dddddd;
    padding: 4px 6px;
}

.doc table th {
    background: #f2f2f2;
}

.doc dl {
    margin: 0 10px 20px 10px;
}

.doc dl dt {
    font-weight: bold;
    margin: 0;
    padding: 3px 0;
    border-bottom: 1px solid #ddd;
}

.doc dl dd {
    padding: 5px 0;
    margin: 0 0 5px 10px;
}

.doc abbr {
    border-bottom: 1px dotted #333;
    font-variant: none;
    cursor: help;
}

.src-link {
    margin-bottom: 15px;
}

.src-link a {
    font-size: 70%;
    padding: 4px 4px 1px 4px;
}
